<!doctype html>
<html ng-app="ngView">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Management</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/client-candidate-manage.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/less/login.less">
    <link rel="stylesheet/less" type="text/css" href="/less/logo.less">
    <script type="text/javascript" src="/javascripts/less-1.3.3.min.js"></script>

  </head>
  <body>
    <article class="container" ng-controller="CandidateManageCtrl" ng-init="init()">
      <section class="row">
        <div class="page-header">
          <h2>Management</h2>
        </div>
        <div id="project-list">
          <h4>Project List</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>title</th>
                <th>auth</th>
                <th>type</th>
                <th>source</th>
                <th>introduction</th>
                <th>option</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="candidate in candidates">
                <td>{{candidate.data.title}}</td>
                <td>{{candidate.data.author}}</td>
                <td>{{candidate.data.type}}</td>
                <td>{{candidate.data.source}}</td>
                <td>{{candidate.data.intro}}</td>
                <td>
                  <a href="" class="btn" ng-click="delete(candidate)"><i class="icon icon-remove"></i>Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <button class="btn" ng-click="create()" ng-disabled="isCreate">New Candidate</button>
            <button class="btn" ng-click="refresh()">Refresh</button>
          </div>
        </div>
      </section>
      <section class="row" ng-show="isCreate">
        <div class="page-header">
          <h2>New Candidate</h2>
        </div>
        <div>
          <form>
            <label for="">Candidate title</label>
            <input type="text" ng-model="candidate.title" class="span4" required>
            <label for="">Author</label>
            <input type="text" ng-model="candidate.author" class="span4" required>
            <label for="">Source type</label>
            <input type="text" ng-model="candidate.type" class="span4" required>
            <label for="">Source</label>
            <input type="text" ng-model="candidate.source" class="span4" required>
            <label for="">Introduction</label>
            <textarea cols="30" rows="5" ng-model="candidate.intro" class="span4" required></textarea>
            <label for="">
              <button class="btn btn-primary" type="submit" ng-click="save()">Save</button>
              <button class="btn btn-danger" ng-click="close()">Close</button>
            </label>
          </form>
        </div>
      </section>
    </article>
  </body>
</html>