<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Vote</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/vote.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/less/vote.less">
    <link rel="stylesheet/less" type="text/css" href="/less/logo.less">
    <link rel="stylesheet/less" type="text/css" href="/less/timer.less">
    <script type="text/javascript" src="/javascripts/less-1.3.3.min.js"></script>

  </head>
  <body>
    <article class="container" ng-controller="VoteCtrl" ng-init="request()">
      <section class="row">
        <nav class="span3">
          <div class="logo logo-brand">
            <h2 class="logo-title">GPC</h2>
            <p class="logo-desc">Vote favorates</p>
          </div>
        </nav>
        <div class="span9">
          <h2 class="page-header">
            <em class="vote-name">{{candidate.data.title}}</em>
          </h2>
          <p>
            <strong>Author - </strong><span>{{candidate.data.author}}</span>
          </p>
          <form action="" >
            <label for="inputScore">Score:</label>
            <input type="number" name="inputScore" val="0" max="10" min="0">
            <label for="inputComment">Comment:</label>
            <label for=""><textarea name="inputComment" id="" cols="30" rows="5" class="vote-comment"></textarea></label>
            <button type="submit" class="btn btn-primary">Submit</button>
            <span class="timer alert alert-success" ng-show="isVote">Left:<span>{{time}}</span>s</span>
          </form>
        </div>
      </section>
    </article>
  </body>
</html>