<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Management</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-responsive.min.css">
    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/client-project-manage.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/less/login.less">
    <link rel="stylesheet/less" type="text/css" href="/less/logo.less">
    <script type="text/javascript" src="/javascripts/less-1.3.3.min.js"></script>

    <script type="text/javascript" src="/javascripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

  </head>
  <body ng-controller="ProjectManageCtrl" ng-init="init()">
    <article class="container">
      <section class="row">
        <div class="page-header">
          <h2>
            <span>Management</span>

            <div class="btn-group">
              <a href="/management/project" class="btn active">Project</a>
              <a href="/management/candidate" class="btn">Candidate</a>
            </div>
            <div class="btn-group">
              <button href="#project-modal" role="button" class="btn" data-toggle="modal">New Project</button>
              <button class="btn" ng-click="refresh()">Refresh</button>
            </div>
            <a href="/mangement/logout" class="btn pull-right">Logout</a>
            
          </h2>
        </div>
        <div id="project-list">
          <h4>
            <span>Project List</span>
          </h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>option</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="project in projects">
                <td>{{project.id}}</td>
                <td>{{project.name}}</td>
                <td>
                  <a href="" class="btn" ng-click="delete(project)"><i class="icon icon-remove"></i>Delete</a>
                  <a href="/management/project/candidates/{{project.id}}" class="btn"><i class="icon icon-folder-open"></i>Open</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </article>

    <div id="project-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="project-modal-label" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="project-modal-label">New Project</h3>
      </div>
      <div class="modal-body">
        <form>
          <label for="">Project id</label>
          <input type="text" ng-model="project.id" required>
          <label for="">Project name</label>
          <input type="text" ng-model="project.name" required>
          <label for="">Access Key</label>
          <input type="password" ng-model="project.key" required>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-click="save()">Save</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
  </body>
</html>