<!DOCTYPE html>
<html ng-app="lb-gpc">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>GPC</title>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.min.css">

    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>

    <link rel = "shortcut icon" href="/image/ico_128X128_1383288453.ico">
    <link rel="apple-touch-icon" href="/image/icon.png"/>


    <script type="text/javascript" src="/javascripts/lib/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

    <script type="text/javascript" src="/javascripts/lib/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/bootstrap3/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/controller.js"></script>

    <link rel="stylesheet" href="/less/login.css">
    <link rel="stylesheet" href="/less/logo.css">
    <link rel="stylesheet" href="/less/register.css">

  </head>
  <body ng-view ng-controller="MainCntl">
  </body>
</html>