<h4>Candidate List</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>title</th>
      <th>auth</th>
      <th>type</th>
      <th>source</th>
      <th>introduction</th>
      <th>option</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="candidate in candidates">
      <td>{{candidate.title}}</td>
      <td>{{candidate.author}}</td>
      <td>{{candidate.type}}</td>
      <td>{{candidate.source}}</td>
      <td>{{candidate.intro}}</td>
      <td>
        <a href="" class="btn" ng-click="delete(candidate)"><i class="icon icon-remove"></i>Delete</a>
      </td>
    </tr>
  </tbody>
</table>