<h4><span>Project List</span></h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>option</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="project in projects">
      <td>{{project.id}}</td>
      <td>{{project.name}}</td>
      <td>
        <a href="" class="btn" ng-click="delete(project)"><i class="icon icon-remove"></i>Delete</a>
        <a href="/management/project/candidates/{{project.id}}" class="btn"><i class="icon icon-folder-open"></i>Open</a>
      </td>
    </tr>
  </tbody>
</table>