<h4>User List</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>username</th>
      <th>option</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.username}}</td>
      <td>
        <a href="" class="btn" ng-click="delete(user)"><i class="icon icon-remove"></i>Delete</a>
      </td>
    </tr>
  </tbody>
</table>