<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Register</title>
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://lib.sinaapp.com/js/bootstrap/latest/css/bootstrap-responsive.min.css">
    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/util.js"></script>
    <script type="text/javascript" src="/javascripts/client-register.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/less/register.less">
    <link rel="stylesheet/less" type="text/css" href="/less/logo.less">
    <script type="text/javascript" src="/javascripts/less-1.3.3.min.js"></script>

  </head>
  <body>
    <article class="container register-panel">
      <header class="row">
        <a href="<%= link_login%>" class="btn btn-success btn-right">Login</a>
      </header>
      <section class="row register-main">
        <div class="span3"></div>

        <nav class="span3 logo">
          <h2 class="logo-title">GPC</h2>
          <p class="logo-desc">Vote favorates</p>
        </nav>

        <div class="span4 register-main">
          <% include template/user-register-form %>
        </div>
      </section>
      <footer class="register-footer">
        <span>@2013 Leo Burnette</span>
        <span>-</span>
        <a href="#">Leo Burnette</a>
      </footer>
    </article>
  </body>
</html>