<article class="container" ng-init="init()">
  <section class="row">
    <nav class="col-md-3 col-lg-3">
      <div class="logo logo-brand">
        <h2 class="logo-title">GPC</h2>
        <p class="logo-desc">Vote your favorates</p>
      </div>
      
      <img ng-src="{{qrcode}}" alt="" class="">

      <div class="list-group">
        <a href="#" class="list-group-item" ng-click="prev()">Previous</a>
        <a href="#" class="list-group-item" ng-click="next()">Next</a>
        <a href="#" class="list-group-item" ng-click="showResult()">Show Result</a>
      </div>
      <div class="btn-toolbar">
        <a href="#" class="btn btn-primary" ng-click="start()" ng-show="!isStart">Start Voting</a>
        <a href="#" class="btn btn-warning" ng-click="end()" ng-show="isStart">End Voting</a>
        <p ng-show="isEnd" class="btn btn-link disabled"> Voted <span class="badge">{{marksLength}}</span></p>
        <!-- <a href="#" class="btn" ng-click="save()" ng-show="!isStart && isEnd">Save</a> -->
      </div>
      
      <div ng-show="isStart" class="col-md-12">
        <h4>Voted People</h4>
        <h6 class="timer"> <span class="badge">{{voted}}</span>people</h6>
        <h4>Timer</h4>
        <h6 class="timer">{{time}}s</h6>
        <!--<h4>People Voting Status</h4>-->
        <style type="text/css">
          .vote-false{
            color: red;
          }
        </style>
        <!--<h6 ng-repeat="user in users">-->
          <!--<span class="vote-{{user.status}}">{{user.username}}</span>-->
        <!--</h6>-->
      </div>
    </nav>
    <div class="col-md-9 col-lg-9">
      <div class="row page-header">
        <h2 class="col-md-11">
          <em class="vote-name">{{project.name}}</em>
        </h2>
        <div class="col-md-1" style="padding-top: 20px;">
          <a href="#" ng-click="logout()" class="btn btn-default btn-sm pull-right">Logout</a>
        </div>
      </div>
      <h3>
        <span>Candidate - </span>{{candidate.title}}</span>
      </h3>
      <p>
        <strong>Author - </strong>
        <span>{{candidate.author}}</span>
      </p>
      <div>
        <p><strong>Product</strong></p>
        <img src="" alt="" ng-show="isImage" ng-src="{{candidate.source}}" width="100%">
        <video src="" ng-src="{{candidate.source}}" alt="" ng-show="isVideo"  controls="controls"></video>
      </div>
      <div class="" ng-show="candidate.intro">
        <p><strong>Introduction</strong></p>
        <pre>{{candidate.intro}}</pre>
      </div>
    </div>
  </section>
</article>