<article class="container" ng-init="init()">
  <section class="row">
    <div class="page-header">
      <h2>
        <span>Management</span>
        <div class="btn-group">
          <a href="/management/project" class="btn {{config.project}}">Project</a>
          <a href="/management/candidate" class="btn {{config.candidate}}">Candidate</a>
          <a href="/management/user" class="btn {{config.user}}">User</a>
        </div>
        <div class="btn-group">
          <button href="#{{config.modal.id}}" role="button" class="btn {{config.modal.status}}" data-toggle="modal">{{config.modal.type}}</button>
          <button class="btn" ng-click="refresh()">Refresh</button>
        </div>
        <div class="btn-group pull-right">
          <a href="#" class="btn" ng-click="logout()">Logout</a>
        </div>
      </h2>
    </div>
    <div id="project-candidate-list">
      <h4>
        <span class="label label-info" id="project-id" data-project-id="{{project.id}}">Project Id: {{project.id}}</span>
        <span class="label label-info" id="project-title">Project Title: {{project.name}}</span>
        <a href="#" class="btn pull-right" ng-click="exportData(project.id)">Import Data</a>
        <a ng-href="{{file.link}}" class="btn pull-right btn-success" ng-show="isGetFile">{{file.name}}</a>
      </h4>
      <h4>Candidate List</h4>
      <table class="table">
        <thead>
          <tr>
            <th>title</th>
            <th>auth</th>
            <th>type</th>
            <th>source</th>
            <th>introduction</th>
            <th>option</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="candidate in candidates">
            <td>{{candidate.title}}</td>
            <td>{{candidate.author}}</td>
            <td>{{candidate.type}}</td>
            <td>{{candidate.source}}</td>
            <td>{{candidate.intro}}</td>
            <td>
              <a href="" class="btn btn-small" ng-click="delete(candidate)"><i class="icon icon-remove"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</article>
<div id="select-candidate-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="select-candidate-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="select-candidate-modal-label">Add Selected Candidate</h3>
  </div>
  <div class="modal-body">
    <form>
      <select id="candidate-selection">
        <option value ="{{candidate._id}}" ng-repeat="candidate in all" ><span>{{candidate.title}}</span></option>
      </select>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="add()">Add</button>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>