.login-panel{margin:100px auto 10px auto}.login-panel .btn-right{float:right}
.login-panel .login-main{margin:10px auto 10px auto;min-height:370px}
.login-panel .login-btn{margin:20px auto}
.login-panel .login-footer{width:300px;margin:40px auto 0 auto}
@media (max-height:767px){.login-form{width:250px;margin:auto} .login-panel{margin:5px auto}}@media (min-width:766px){}
