.logo .logo-title{font-family:'Wendy One',sans-serif;text-align:center;font-size:0px;line-height:0;background:url(../image/logo.png) no-repeat;width:236px;height:76px;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain}
.logo .logo-desc{text-align:center;font-style:italic;font-weight:500;display:none}
.logo-brand{max-width:200px}
body{padding-bottom:10px}
