.logo{
  margin: 20px 0;

  .logo-title{
    font-family: 'Wendy One', sans-serif;
    text-align: center;
    font-size: 62px;
  }

  .logo-desc{
    text-align: center;
    font-style: italic;
    font-weight: 500;
  }
}

.logo-brand{
  max-width: 200px;
}